/* basic styles */
html, body {
    height: auto;
    padding:0;
    margin:0;
}

a {
    cursor: pointer;
    outline: none;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    border: 0;
    border: none;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    display: block;
    line-height: 100%;
    text-align: center;
}

h1 {
    font-size: 170%;
}

h2 {
    font-size: 105%;
}

h3 {
    font-size: 110%;
}

sup, sub {
    height: 0;
    line-height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 1em;
}

.clear {
    clear: both;
}

/*
*   Header Styles
*/

#page {
    background: #dcdcdc;
}

#content{
    padding: 0;
    margin: 0;
}

#header {
    height: 47px;
    width: 100%;
    background: url('/img/bg_header.png') top left repeat-x ;
}

#header .header-button {
    display: block;
    height: 47px;
    width: 42px;
    margin: 0 5px 0 0;
    background: url('/img/bg_pr.png') center no-repeat;
}

#header .header-button.active{
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    border: 1px solid #b50d11;
    cursor: pointer;
}

#header .header-button.left{
    float: left;
}

#header .header-button.right{
    float: right;
}

#header .header-button a {
    display: block;
    height: 47px;
    width: 42px;
}

#header .danger a {
    background: url('../img/bg_danger.png') no-repeat;
}

#header .profile a {
    background: url('../img/profile-icon.png') center no-repeat;
}

#header .info a{
    background: url('../img/bg_info.png') no-repeat;
}

#header h1 {
    margin: 0 50px;
    font-size: 24px;
    line-height: 47px;
    font-weight: bold;
    text-shadow: 1px -1px #9a4448;
    font-family: 'Arial Black', Arial, sans-serif;
}

#footer {
    background: url('../img/bg_footer.png') left center repeat-x;
    height: 51px;
}

#footer .footer-button:hover{
    text-decoration: none;
}

#news_block_wr{
    background: url('../img/bg_news_dots.png') repeat;
    padding: 0.5em;
    margin-bottom: 51px;
}

#news_block{
    height: 194px;
    width: 100%;
}

#news_block .header {
    background: #cd1920;
    display: block;
    text-align: center;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    height: 19px;
    line-height: 19px;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}

#news_block .news-item {
    background: #fff;
    border-radius: 0 0 4px 4px;
    height: 112px;
    padding: 14px 5px;
}

#news_block .news-content h2{
    color: #000;
    text-align: left;
    padding-bottom: 6px;
}

#news_block .news-image {
    float: left;
    width: 100px;
    padding: 0.5em;
}

#news_block .news-content {
    margin-left: 100px;
    padding: 0.5em;
}

#news_block .news-content p {
    color: #2d2d2e;
    font-size: 13px;
    margin-bottom: 10px;
}

#news_block .news-content .date {
    color: #61616c;
    font-size: 10px;
}

#news_block .news img{
    max-height: 100px;
    max-width: 100px;
}

#services_block {
    display: block;
    -webkit-box-shadow: 0 1px 1px 1px #7b7b7b;
    box-shadow: 0 1px 1px 1px #7b7b7b;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    padding: 0.5em 0;
    background: #FFFFFF;
}

.service-wrapper{
    padding: 0.5em;
    background: url('/img/bg_service_block.png') left center repeat;
}

#services_block .service {
    background: #ffffff;
    padding: 0.5em;
    border-bottom: 1px solid #d1d1d1;
}

#services_block .service:last-child{
    border-bottom: none;
}

#services_block .service:hover{
    background: #ddd;
}

#services_block .service a{
    display: block;
}

#services_block .service a:hover{
    text-decoration: none;
}



#services_block .service.first {
    border-radius: 4px 4px 0 0;
    border-top: 1px solid #d1d1d1;
}

#services_block .service.last {
    border-radius: 0 0 4px 4px;
}

.service .service-image {
    width: 48px;
    float: left;
}
.service .service-image img{
    width: 48px;
    height: 48px;
}
.service .service-content-block {
    padding-bottom: 10px;
    margin: 0 10px 0 55px;
    color: #969696;
}
.service .service-content{
    margin-left: 55px;
}
.service .service-content span {
    color: #272727;
    font-weight: bold;
    margin-bottom: 7px;
}

.service p {
    color: #969696;
    font-size: 90%;
    margin-top: 5px;
}

.service .service-arrow {
    background: url('../img/bg_check.png') no-repeat center center;
    width: 7px;
    height: 11px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#services_additional{
    margin: -5px 5px 0 5px;
}

#services_additional .additional-arrow{
    background: url('../img/additional_arrow.png') no-repeat;
    width: 16px;
    height: 9px;
    margin-left: 12px;
}

#services_additional .services-additional-block{
    background: #3a3a3a;
    border-radius: 5px;
    padding: 5px 5px;
}

#services_additional .service{
    border: 1px solid #4d4b4b;
    padding: 5px 5px;
    margin: 0 0 5px 0;
    border-radius: 5px;
}

#services_additional .service .service-image {
    width: 50px;
    float: left;
    margin-right: 5px;
    text-align: center;
}

#services_additional .service .service-content-block {
    padding-bottom: 10px;
    margin-left: 60px;
}

#services_additional .service .service-content span {
    color: #fff;
    font-weight: bold;
    margin-bottom: 7px;
    font-size: 17px;
}

#services_additional .service p {
    color: #9a9595;
    font-size: 12px;
    margin-top: 5px;
}

#services_wr{
    position: relative;
}

#auth_block{
    background: black;
    opacity: 0.9;
    padding: 5px 20px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    z-index: 10000;
    display: none;
}

#auth_block label{
    color: #fff;
}

.appGallery{
    overflow:hidden;
}

.appGallery ul{
    list-style:none;
    position:relative;
    margin:0px;
    padding:0px;
}

.appGallery li{
    display:block;
    float:left;
}

.imageHandler{
    position:absolute;
    z-index:30;
    background-image:url('_/res/trans.png');
    cursor:pointer;
}

.swipe {
    padding-bottom:20px;
}
.swipe li div, .swipe div div div {
    margin:0 10px;
    padding:50px 10px;
    background:#1db1ff;
    font-weight:bold;
    color:#fff;
    font-size:20px;
    text-align:center;
}

#news_position {
    text-align:center;
    font-size:27px;
    line-height:1.3;
    color:#697279;
    display:block;
}
#news_position em {
    display:inline-block;
    padding:0 3px;
    font-style:normal;
    text-shadow: 0 -1px 0 rgba(0,0,0,.35);
    font-family:sans-serif;
}
#news_position em.on {
    color:#fff;
}

#locator_page #map{

    height: 100%;
}

#locator_page .map-wr{
    background: #2a3333;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    height: 300px;
    padding: 20px 30px;
}

.noauth-warning{
    padding: 15px;
    font-size: 28px;
    text-align: center;
}

#service_item{
    padding-left: 10px;
}

#banner_slider li{
    display: block;
    float: left;
    background: #ffffff;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
}


/*

RoyalSlider

*/
.royalSlider {
    position:relative;
    /* set width and height of slider here, in px, % or em*/
    width:600px;
    height:300px;
    /* Used to prevent content "jumping" on page load. this property is removed when javascript is loaded and slider is instanciated */
    overflow:hidden;
}



/**
*  Slides area (set background here)
*/

.royalSlider .royalWrapper {
    overflow:hidden;
    position:relative;

    width:100%;
    height:100%;
}
.royalSlider .royalSlide,
.royalSlider .royalWrapper {
    /* Bakground behind slides */
    background: none;
}
/* slides holder, grabbing container */
.royalSlider .royalSlidesContainer {
    position: relative;
    left: 0;
    top: 0 !important;
    list-style:none !important;
    margin:0 !important;
    padding:0 !important;
    border: 0 !important;
}


/* slide item */
.royalSlider .royalSlide {
    padding: 0 !important;
    margin: 0 !important;
    border: 0 !important;
    list-style: none !important;

    position:relative;
    float:left;

    overflow:hidden;
}

/*

        Direction Navigation (arrows)

*/
.royalSlider .arrow
{
    /*background:url(../img/controlsSprite.png) no-repeat 0 0;*/
    background-color: #C00;
    background-repeat: no-repeat;
    background-position: 0 0;

    /* change arrows size here */
    width: 45px;
    height: 90px;

    top:50%;
    margin-top:-45px;

    cursor: pointer;
    display: block;
    position: absolute;

    z-index:25;

}
.royalSlider .arrow:hover {

}
.royalSlider .arrow.disabled {

}
/* left arrow */
.royalSlider .arrow.left {
    background-position: top left;
    left: 0;
}
/* right arrow */
.royalSlider .arrow.right {
    background-position: top right;
    right: 0;
}




/* Control navigation container (bullets or thumbs) */
.royalSlider .royalControlNavOverflow {
    width:100%;
    overflow:hidden;
    position:absolute;
    margin-top:-20px;
    z-index:25;
}
/* This container is inside ".royalControlNavContainer"
   and is used for auto horizontal centering */
.royalSlider .royalControlNavCenterer {
    float: left;
    position: relative;
    left: -50%;
}
/* Control navigation container*/
.royalSlider .royalControlNavContainer {
    float: left;
    position: relative;
    left: 50%;
}


/* Scrollable thumbnails containers */
.royalSlider .royalControlNavThumbsContainer {
    left:0;
    position:relative;
}
.royalSlider .thumbsAndArrowsContainer {
    overflow:hidden;
    width: 100%;
    position: relative;
}
.royalSlider .royalControlNavOverflow.royalThumbs {
    width: auto;
    position: relative;
    overflow: hidden;
    margin-top:4px;
}






/*

        Control navigation (bullets, thumbnails)

*/
.royalSlider .royalControlNavOverflow a{
    background:#0C0 none no-repeat scroll 0 0;

    width:20px;
    height:20px;

    float:left;
    cursor:pointer;

    position:relative;
    display:block;

    text-indent: -9999px;
}
/* Current control navigation item */
.royalSlider .royalControlNavOverflow a.current {
    background-color: #C00;
}
/* Hover state navigation item */
.royalSlider .royalControlNavOverflow a:hover {
    background-color: #00C;
}

/* Thumbnails */
.royalSlider .royalControlNavOverflow a.royalThumb{
    /*background: none no-repeat 0 0;*/
    /*background-color: ;*/
    width:144px;
    height:60px;
    /* thumbnails spacing, use margin-right only */
    margin-right:4px;

}
.royalSlider .royalControlNavOverflow a.royalThumb.current {
    background-position: -3px -3px  !important;
    border:3px solid #C00 !important;
    width:138px;
    height:54px;
}
.royalSlider .royalControlNavOverflow a.royalThumb:hover {
    background-position: -3px -3px;
    border:3px solid #00C;
    width:138px;
    height:54px;
}



/*

        Thumbnails navigation arrows

*/
.royalSlider .thumbsArrow {
    width: 38px;
    height: 68px;

    cursor: pointer;
    display: block;
    position: relative;
    z-index: 25;

    background: #C99;

}
.royalSlider .thumbsArrow.left {
    float: left;
}
.royalSlider .thumbsArrow.right {
    float: right;
}
.royalSlider .thumbsArrow:hover  {

}
.royalSlider .thumbsArrow.disabled {

}






/* Captions container */
.royalSlider .royalCaption {
    z-index:20;
    display:block;
    position:absolute;
    left:0;
    top:0;
    /*font: normal normal normal 1em/1.5em Georgia, serif;
    color:#FFF;		*/
}
/* Caption item */
.royalSlider .royalCaptionItem {
    position:absolute;
    left:0;
    top:0;
    margin: 0;
    padding: 0;
}



/* Loading (welcome) screen */
.royalSlider .royalLoadingScreen {
    background:#FFF;
    width:100%;
    height:100%;
    position:absolute;
    z-index:99;
}
/* Loading screen text ("Loading...") */
.royalSlider .royalLoadingScreen p {
    width:100%;
    position:absolute;
    margin:0 auto;
    top: 45%;
    text-align:center;
}

/* single slide image preloader */
.royalSlider .royalPreloader {
    position:absolute;
    width:24px;
    height:24px;
    left:50%;
    top:50%;
    margin-left:-12px;
    margin-top:-12px;
    z-index:0;
    background-image:url(../img/preloader.gif);
}






.royalSlider .grab-cursor{cursor:move;}
.royalSlider .grab-cursor{cursor:url("../img/cursors/grab.png") 8 8,-moz-grab;}
.royalSlider .grab-cursor{*cursor:url(../img/cursors/grab.cur);}
.royalSlider .grab-cursor{cursor:move\0/;} /* ie8 hack */

.royalSlider .grabbing-cursor{cursor:move;}
.royalSlider .grabbing-cursor{cursor:url("../img/cursors/grabbing.png") 8 8,-moz-grabbing;}
.royalSlider .grabbing-cursor{*cursor:url(../img/cursors/grabbing.cur);}


/* Cursor used if mouse dragging is disabled */
.royalSlider .auto-cursor{cursor:auto;}

.royalSlider .royalHtmlContent {
    position: absolute;
    top: 0;
    left: 0;
}
.royalSlider .non-draggable {
    cursor: auto;
}
.royalSlider .fade-container .royalSlide{
    position: absolute;
    left: 0;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 10;
}
.royalSlider .royalImage {
    max-width:none;
    margin:0;
    padding: 0 !important;
    border: 0 !important;
}

.example {
    display: none;
}